
.refresh {
	background: url(/images/large/refresh.png) 10px 0 no-repeat !important;
	width:42px !important;	
}

.unlock {
    background: url(/images/large/unlock.png) 10px 0 no-repeat !important;
	width:42px !important;
	//background-image: url(/images/large/unlock.png) !important;
}
.sqlButton{
	background: url(/images/mac/global_icon/search.png) no-repeat !important;
}
.icon_frontpage{
	background: url(/images/mac/top_icon/front_page.png) 0 0 no-repeat !important;
	width:32px !important;
	 //background: url(/images/mac/top_icon/front_page.png)  no-repeat center !important;
}

.icon_shortcut{
	 background: url(/images/large/lamp.png) 10px 0 no-repeat !important;
	 width:42px !important;
}

.icon_infoquery_mac{
	background: url(/images/mac/top_icon/infoquery_mac.png) 17px 0 no-repeat !important;
	width:49px !important;
}

.icon_infoquery_hotspot{
	background: url(/images/mac/top_icon/infoquery_hotspot.png) 10px 0 no-repeat !important;
	width:42px !important;
}

.icon_infoquery_place{
	background: url(/images/mac/top_icon/infoquery_place.png) 20px 0 no-repeat !important;
	width:52px !important;
}

.icon_infoquery_move{
	background: url(/images/mac/top_icon/infoquery_move.png) 20px 0 no-repeat !important;
	width:52px !important;
}

.icon_infoquery_current{
	background: transparent url("/images/mac/top_icon/infoquery_id.png") no-repeat scroll 10px 0px !important;
	width:42px !important;
}

.icon_infoquery_vid{
	background: transparent url("/images/mac/top_icon/infoquery_vid.png") no-repeat scroll 20px 0px !important;
	width:52px !important;
}

.icon_alarm_controlmanage{
	background: url(/images/mac/top_icon/alarm_controlmanage.png) 10px 0 no-repeat !important;
	width:42px !important;
}
.icon_alarm_warnlog{
	background: transparent url("/images/mac/top_icon/alarm_warnlog.png") no-repeat scroll 20px 0px !important;
	width:52px !important;
}
.icon_alarm_peoplecalled{
	background: transparent url("/images/mac/top_icon/alarm_peoplecalled.png") no-repeat scroll 20px 0px !important;
	width:52px !important;
}

.icon_dm_bab{
	background: url(/images/mac/top_icon/dm_bab.png) 20px 0 no-repeat !important;
	width:52px !important;
}

.icon_dm_sample{
	background: url(/images/mac/top_icon/dm_sample.png) 10px 0 no-repeat !important;
	width:42px !important;
}

.icon_dm_freCharact{
	background: url(/images/mac/top_icon/dm_freCharact.png) 17px 0 no-repeat !important;
	width:49px !important;
}

.icon_dm_track{
	background: transparent url("/images/mac/top_icon/dm_track.png") no-repeat scroll 20px 0px !important;
	width:42px !important;
}

.icon_dm_sus{
	background: url(/images/mac/top_icon/dm_sus.png) 20px 0 no-repeat !important;
	width:52px !important;
}

.icon_dm_crowd{
	background: url(/images/mac/top_icon/dm_crowd.png) 10px 0 no-repeat !important;
	width:42px !important;
}

.icon_operation_equipment{
	background: url(/images/mac/top_icon/operation_equipment.png) 10px 0 no-repeat !important;
	width:42px !important;
}

.icon_operation_normally{
	background: url(/images/mac/top_icon/operation_normally.png) 10px 0 no-repeat !important;
	width:42px !important;
}
.icon_operation_place{
	background: url(/images/mac/top_icon/operation_place.png) 10px 0 no-repeat !important;
	width:42px !important;
}
.icon_operation_safety{
	background: url(/images/mac/top_icon/operation_safety.png) 20px 0 no-repeat !important;
	width:52px !important;
}
.icon_operation_terminal{
	background: url(/images/mac/top_icon/operation_terminal.png) 20px 0 no-repeat !important;
	width:52px !important;
}
.icon_audit_onlinelog{
	background: url(/images/mac/top_icon/audit_onlinelog.png) 20px 0 no-repeat !important;
	width:52px !important;
}
.icon_audit_linklog{
	background: transparent url("/images/mac/top_icon/audit_linklog.png") no-repeat scroll 10px 0px !important;
	width:42px !important;
}

.icon_systemset_admin{
	background: url(/images/mac/top_icon/systemset_admin.png) 17px 0 no-repeat !important;
	width:49px !important;
}
.icon_systemset_alarm{
	background: url(/images/mac/top_icon/systemset_alarm.png) 20px 0 no-repeat !important;
	width:52px !important;
}
.icon_systemset_preferences{
	background: url(/images/mac/top_icon/systemset_preferences.png) 10px 0 no-repeat !important;
	width:42px !important;
}
.icon_systemset_log{
	background: url(/images/mac/top_icon/systemset_log.png) 17px 0 no-repeat !important;
	width:49px !important;
}
.icon_systemset_para{
	background: url(/images/mac/top_icon/systemset_para.png) 20px 0 no-repeat !important;
	width:52px !important;
}
.icon_myaccount_username{
	background: url(/images/mac/top_icon/myaccount_username.png) 10px 0 no-repeat !important;
	width:42px !important;
}
.icon_myaccount_toolbar{
	background: url(/images/mac/top_icon/myaccount_toolbar.png) 17px 0 no-repeat !important;
	width:49px !important;
}

*{font-size:12px !important;}
  
.clsDeviceTitle{
	text-align: right;
	font-size:14px;
	background-color: gray;
} 

.arrow{
    background: url(/images/mac/arror-next.gif) left top no-repeat;
	left: 34px !important;
}

.cls_menu_panel{
	background:#232432 !important;
}
.cls_menu_second_normal{
	width:100% !important;
    height: 44px !important;
	background:#33363F !important;
	border-radius:0 !important;
}

.cls_menu_second_normal button{
	width:100% !important;
    height: 44px !important;
	background: url(/images/mac/menu_bk/bkN_second.png) !important;	
	border-radius:0 !important;
}

.cls_menu_second_focus{
	width:100% !important;
    height: 44px !important;
	background:#33363F !important;
	border-radius:0 !important;
}

.cls_menu_second_focus button{
	width:100% !important;
    height: 44px !important;
	background:#33363F !important;
	border-radius:0 !important;
	border-bottom:1px solid #00B1F1 !important;
}

.bkmenun_id_infoquery, .bkmenun_id_infoquery button{
	width:100% !important;
	height: 44px !important;
	background: url(/images/mac/menu_bk/bkmenun_infoquery.png) !important;	
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')" !important;  
	-moz-background-size:100% 100% !important;  
    background-size:100% 100% !important;  
	margin:0px 0 0px 0px !important;	
	border-bottom:0px solid #00B1F1 !important;
	border-radius:0 !important;
}

.bkmenuf_id_infoquery, .bkmenuf_id_infoquery button{
	width:100% !important;
	height: 44px !important;
	background: url(/images/mac/menu_bk/bkmenuf_infoquery.png) !important;	
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')" !important;  
	-moz-background-size:100% 100% !important;  
    background-size:100% 100% !important;  
	margin:0px 0 0px 0px !important;	
	border-bottom:0px solid #00B1F1 !important;
	border-radius:0 !important;
}

.bkmenun_id_alarm, .bkmenun_id_alarm button{
	width:100% !important;
	height: 44px !important;
	background: url(/images/mac/menu_bk/bkmenun_alarm.png) !important;	
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')" !important;  
	-moz-background-size:100% 100% !important;  
    background-size:100% 100% !important;  
	margin:0px 0 0px 0px !important;	
	border-bottom:0px solid #00B1F1 !important;
	border-radius:0 !important;
}

.bkmenuf_id_alarm, .bkmenuf_id_alarm button{
	width:100% !important;
	height: 44px !important;
	background: url(/images/mac/menu_bk/bkmenuf_alarm.png) !important;	
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')" !important;  
	-moz-background-size:100% 100% !important;  
    background-size:100% 100% !important;  
	margin:0px 0 0px 0px !important;	
	border-bottom:0px solid #00B1F1 !important;
	border-radius:0 !important;
}

.bkmenun_id_dm, .bkmenun_id_dm button{
	width:100% !important;
	height: 44px !important;
	background: url(/images/mac/menu_bk/bkmenun_dm.png) !important;	
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')" !important;  
	-moz-background-size:100% 100% !important;  
    background-size:100% 100% !important;  
	margin:0px 0 0px 0px !important;	
	border-bottom:0px solid #00B1F1 !important;
	border-radius:0 !important;
}

.bkmenuf_id_dm, .bkmenuf_id_dm button{
	width:100% !important;
	height: 44px !important;
	background: url(/images/mac/menu_bk/bkmenuf_dm.png) !important;	
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')" !important;  
	-moz-background-size:100% 100% !important;  
    background-size:100% 100% !important;  
	margin:0px 0 0px 0px !important;	
	border-bottom:0px solid #00B1F1 !important;
	border-radius:0 !important;
}
			
.bkmenun_id_audit, .bkmenun_id_audit button{
	width:100% !important;
	height: 44px !important;
	background: url(/images/mac/menu_bk/bkmenun_audit.png) !important;	
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')" !important;  
	-moz-background-size:100% 100% !important;  
    background-size:100% 100% !important;  
	margin:0px 0 0px 0px !important;	
	border-bottom:0px solid #00B1F1 !important;
	border-radius:0 !important;
}

.bkmenuf_id_audit, .bkmenuf_id_audit button{
	width:100% !important;
	height: 44px !important;
	background: url(/images/mac/menu_bk/bkmenun_audit.png) !important;	
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')" !important;  
	-moz-background-size:100% 100% !important;  
    background-size:100% 100% !important;  
	margin:0px 0 0px 0px !important;	
	border-bottom:0px solid #00B1F1 !important;
	border-radius:0 !important;
}

.bkmenun_id_operation, .bkmenun_id_operation button{
	width:100% !important;
	height: 44px !important;
	background: url(/images/mac/menu_bk/bkmenun_operation.png) !important;	
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')" !important;  
	-moz-background-size:100% 100% !important;  
    background-size:100% 100% !important;  
	margin:0px 0 0px 0px !important;	
	border-bottom:0px solid #00B1F1 !important;
	border-radius:0 !important;
}

.bkmenuf_id_operation, .bkmenuf_id_operation  button{
	width:100% !important;
	height: 44px !important;
	background: url(/images/mac/menu_bk/bkmenuf_operation.png) !important;	
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')" !important;  
	-moz-background-size:100% 100% !important;  
    background-size:100% 100% !important;  
	margin:0px 0 0px 0px !important;	
	border-bottom:0px solid #00B1F1 !important;
	border-radius:0 !important;
}

.bkmenun_id_systemset, .bkmenun_id_systemset button{
	width:100% !important;
	height: 44px !important;
	background: url(/images/mac/menu_bk/bkmenun_systemset.png) !important;	
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')" !important;  
	-moz-background-size:100% 100% !important;  
    background-size:100% 100% !important;  
	margin:0px 0 0px 0px !important;	
	border-bottom:0px solid #00B1F1 !important;
	border-radius:0 !important;
}

.bkmenuf_id_systemset, .bkmenuf_id_systemset button{
	width:100% !important;
	height: 44px !important;
	background: url(/images/mac/menu_bk/bkmenuf_systemset.png) !important;	
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')" !important;  
	-moz-background-size:100% 100% !important;  
    background-size:100% 100% !important;  
	margin:0px 0 0px 0px !important;	
	border-bottom:0px solid #00B1F1 !important;
	border-radius:0 !important;
}

.bkmenun_id_myaccount, .bkmenun_id_myaccount button{
	width:100% !important;
	height: 44px !important;
	background: url(/images/mac/menu_bk/bkmenun_myaccount.png) !important;	
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')" !important;  
	-moz-background-size:100% 100% !important;  
    background-size:100% 100% !important;  
	margin:0px 0 0px 0px !important;	
	border-bottom:0px solid #00B1F1 !important;
	border-radius:0 !important;
}

.bkmenuf_id_myaccount, .bkmenuf_id_myaccount button{
	width:100% !important;
	height: 44px !important;
	background: url(/images/mac/menu_bk/bkmenuf_myaccount.png) !important;	
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')" !important;  
	-moz-background-size:100% 100% !important;  
    background-size:100% 100% !important;  
	margin:0px 0 0px 0px !important;	
	border-bottom:0px solid #00B1F1 !important;
	border-radius:0 !important;
}

.x-btn-inner{
	text-align: left !important;
}

.x-tab-inner_2{
	margin: 0 0 0 0 !important;
	font-size: 11pt;
	width : 130px !important;
}   
.cls_search{
	//background: url(/images/mac/top_icon/bk_search.png) !important;
	background: #F2F2F2 !important;
	margin-left:-150px;
	border: solid 1px #FFF;
	border-radius:10px 10px 10px 10px;
	width:209px;
	height:30px;
	display:inline-block !important;
}

.cls_search img{
	margin-left:15px;
	margin-top:5px;
	width:15px;
	height:15px;
}

.cls_search input{
	width:130px;
	margin:6px 0 3px 40px;
	margin-top:6px;
	margin-left:20px;
	color:#121212;
	font-size:10px !important;
	background:transparent;
	border:1px;
	border-bottom-style:none;
	border-top-style:none;
	border-left-style:none;
	border-right-style:none;
}
.cls_wait{
	width:100%;
	height:100%;
	//background: url(/images/mac/wait.gif) no-repeat !important;
	text-align:center;
}
.cls_wait img{
	width:47px;
	height:45px;
	margin-top:16px;
	line-height:100%;
}