.favMenu {
	BACKGROUND: buttonface; FONT: menu; CURSOR: hand; COLOR: windowtext
}
.favMenu DIV {
	WIDTH: 100%
}
.favMenu A {
	COLOR: windowtext; TEXT-DECORATION: none
}
.favMenu A:hover {
	COLOR: windowtext; TEXT-DECORATION: underline
}
.topFolder {
	BORDER-RIGHT: buttonface 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: buttonface 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: buttonface 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: buttonface 1px solid
}
.topItem {
	BORDER-RIGHT: buttonface 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: buttonface 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: buttonface 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: buttonface 1px solid
}
.subFolder {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.subItem {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.sub {
	BORDER-RIGHT: buttonhighlight 1px solid; DISPLAY: none; BACKGROUND: url(../../../images/tileback.gif) buttonface; BORDER-LEFT: buttonshadow 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: buttonhighlight 1px solid
}
.sub .sub {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.icon {
	VERTICAL-ALIGN: top; WIDTH: 16px; MARGIN-RIGHT: 5px; HEIGHT: 16px
}
.outer {
	BORDER-RIGHT: buttonhighlight 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: buttonshadow 1px solid; PADDING-LEFT: 0px; BACKGROUND: buttonface; PADDING-BOTTOM: 0px; BORDER-LEFT: buttonshadow 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: buttonhighlight 1px solid
}
.inner {
	BORDER-RIGHT: buttonshadow 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: buttonhighlight 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: buttonhighlight 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: buttonshadow 1px solid
}
.scrollButton {
	BORDER-RIGHT: buttonface 1px solid; BORDER-TOP: buttonface 1px solid; DISPLAY: none; FONT-SIZE: 10px; BACKGROUND: buttonface; OVERFLOW: hidden; BORDER-LEFT: buttonface 1px solid; WIDTH: 50px; CURSOR: default; COLOR: buttontext; BORDER-BOTTOM: buttonface 1px solid; FONT-FAMILY: webdings; POSITION: absolute; HEIGHT: 16px; TEXT-ALIGN: center
}
.flat {
	BORDER-RIGHT: buttonface 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: buttonface 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: buttonface 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: buttonface 1px solid
}
